.body{
    padding: 30px;
    width: 100%;
    height: fit-content;
    flex: 80%;
    color: white;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(91, 87, 115);
}

.body_info > img{
  
    padding:10px;
    width:40%;
    height:20vw;
    display:flex;
    align-items:center;
    box-shadow: 0 4px 60px black;
    margin: 0 20px;

}

.body_info{
    display:flex;
    align-items: flex-end;
    padding:10px;

}

.body_infoText{
    flex:1;
}

.body_infoText > h2{
    font-size: 48px;
    margin-bottom: 10px;
    color:black;
}

.body_infoText > p {
    font-size: 14px;
    color:black;
}

.body_infoText > strong{
    color:rgb(169, 87, 101);
}

.body_icons{
 display:flex;
 align-items: center;
}

.body_icons > .MuiSvgIcon-root {
    margin-right: 20px;
}

.body_shuffle{
    font-size: larger;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body_shuffle:hover{
    transform: scale(1.5);
    transition: 100ms transform ease-in;
}

.body_songs{
    margin: 20px -30px;
}